<div class="col-xs-{{if width width 2}}">
    <div class="form-group">
        <label>{{t label}}:</label>
        <div class="input-group">
            {{input value=value type='text' class="form-control"}}
        </div>
    </div>
</div>