<div class="col-xs-{{if width width 2}}">
    <div class="form-group">
        <label for="some-id">{{if label label "Placeholder"}}:</label>
        <div class="input-group">
            <input id="some-id" type="text" class="form-control">
        </div>
    </div>
</div>