{{#dwcm-field-group identifier="dwcm-taxonomy" counter=model.determinations.length}}
    {{#each model.determinations as |determination index|}}
        {{
            dwcm-single-determination
            model=determination
            remove=(action "removeDetermination")

            index=index
        }}
    {{/each}}

    <a class="btn btn-primary btn-xs" {{action "addDetermination"}}>
        <i class="glyphicon glyphicon-plus"></i> Lägg till bestämning
    </a>
{{/dwcm-field-group}}
