{{#dwcm-field-group identifier="field_group_basic_data"}}
    <div class="row">
        <div class="col-xs-6">
            {{dwcm-autocomplete-textfield label="definitions.name"}}
        </div>
        {{dwcm-field-placeholder width=2 label='Katalognr'}}
        <div class="col-xs-4">
            {{dwcm-autocomplete-textfield label="definitions.accession"}}
        </div>
   </div>
{{/dwcm-field-group}}
