<div class="col-xs-{{if width width 2}}">
    <div class="form-group">
        <label>{{if label label "Placeholder"}}:</label>
        <div class="input-group">
            <input type="text" class="form-control" disabled={{disabled}}>
        </div>
    </div>
</div>