<div class="form-group">
    <label for="some-id">{{t label}}:</label>
    <div class="input-group">
        <input id="some-id" type="text" class="form-control" placeholder="{{if placeholder placeholder 'Skriv in/välj'}}">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" aria-label="Add">
            <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button type="button" class="btn btn-primary" aria-label="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>