<label>{{t label}}:</label>
{{#x-select value=value class="form-control"}}
    {{#each options as |option|}}
    {{option}}
        {{#x-option value=option.value}}{{t option.displayName}}{{/x-option}}
    {{/each}}
{{/x-select}}