<div class="col-xs-{{if width width 2}}">
    <div class="form-group">
        {{#if label}}
            <label>{{t label}}:</label>
        {{/if}}
        <div class="input-group">
            {{
                input value=value
                type=(if type type 'text')
                class="form-control" disabled=disabled
                placeholder=(if placeholder (t placeholder) '')
            }}
        </div>
    </div>
</div>