{{#if label}}
    <label>
        {{t label}}:
    </label>
{{/if}}
{{#if labelAction}}
    <a class="pull-right clickable" {{action 'runLabelAction'}}>
        {{t actionText}}
    </a>
{{/if}}
{{
    input value=value
    type=(if type type 'text')
    class="form-control" disabled=disabled
    placeholder=(if placeholder (t placeholder) '')

    input=(action 'update')
}}