{{#leaflet-map
    center=sanitizedCenter
    zoom=_zoom
    onLoad=(action 'onLoad')
    onMoveend=(action 'updateBounds')
    onZoomend=(action 'updateZoom')
    onClick=(action 'onClick')
    
}}
    {{tile-layer
        url='https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'
        attribution='© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }}

    {{yield this}}
{{/leaflet-map}}