{{#leaflet-map
    center=_center
    zoom=_zoom
    onLoad=(action 'updateBounds')
    onMoveend=(action 'updateBounds')
    onClick=(action 'onClick')
}}
    {{tile-layer
        url='https://a.tile.openstreetmap.org/{z}/{x}/{y}.png'
        attribution='<a href="https://www.mediawiki.org/wiki/Maps">Wikimedia Maps</a>'
    }}

    {{yield this}}
{{/leaflet-map}}
