@import "color.less";
@import "variables.less";

/* Navigation and bars */
.navbar-default {
    background: @light-grey;
    border-color: @white;

    padding-top: 10px;
}

/* Buttons */

.btn {
    border-radius: @border-radius-default;
}

.btn-default {
    color: @light-text;
    background-color: @grey;
    border-color: @dark-grey;

    &:hover {
        background-color: darken(@grey, @darken-percentage);
        border-color: darken(@dark-grey, @darken-percentage);
        color: @light-text;
    }
}

.navbar-default {

    .navbar-brand {
        color: @dark-text;
        font-size: 25px;
    }

    .dwcm-secondary-navigation {
        background: @middle-grey;

        li > a {
            color: @light-text;
            font-size: 16px;
        }

        .open > a, li > a:hover, .open > a:hover {
            color: @light-text;
            background: darken(@middle-grey, @darken-percentage);
        }

        .active > a {
            color: @light-text;
            background: @dark-grey;

            &:hover {
                color: @light-text;
                background: darken(@dark-grey, @darken-percentage);
            }
        }

        .dropdown-menu {
            background: @middle-grey;
        }
    }
}