@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "dina/dina.less";

@import "components/language-selector.less";


.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.dwcm-collectionobject-new__body {
    .page-header, h2 {
        margin-top: 0;
    }
}

.dwcm-collectionobject-new__toolbar {

    background: @middle-grey;

    .btn-toolbar {
        padding: 10px 0;
    }
}

.clickable {
    cursor: pointer;
}

.panel-heading {
    .glyphicon {
        font-size: 20px;
        color: @middle-grey;
        &:hover {
            color: @dark-grey;
        }
    }
}

.input-group {
    width: 100%;
}
.row .row {
    background: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;

    &:first-child {
        margin-top: 5px;
    }
}

.dwcm-autocomplete-dropdown {
    position: absolute;
    z-index: 10;
    background: @white;
    width: 100%;
    left: 0px;
    top: 35px;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: @border-radius-default;

    li {
        padding: 5px;
        border-bottom: 1px solid @light-grey;
    }

    li:hover {
        background: @light-grey;
        cursor: pointer;
    }

    li:last-child {
        border-bottom: nonce;
    }
}

.closed {
    display: none;
}