@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "dina/dina.less";

@import "components/dwcm-language-selector.less";
@import "components/dwcm-spinner.less";

@import "components/dwcm-error.less";
@import "components/dwcm-autocomplete-textfield.less";
@import "components/dwcm-single-determination.less";
@import "components/dwcm-preparation.less";
@import "components/dwcm-single-preparation.less";

.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.dwcm-collectionobject-new__body {
    .page-header, h2 {
        margin-top: 0;
    }
}

.dwcm-collectionobject-new__toolbar {

    background: @middle-grey;

    .btn-toolbar {
        padding: 10px 0;
    }
}

.clickable {
    cursor: pointer;
}

.panel-heading {
    .glyphicon {
        font-size: 20px;
        color: @middle-grey;
        &:hover {
            color: @dark-grey;
        }
    }
}

.input-group {
    width: 100%;
}

.closed {
    display: none;
}


.leaflet-container {
    width: 300px;
    height: 250px;
    float: left;
    margin-right: 10px;
}