@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "color.less";
@import "variables.less";
@import "components/language-selector.less";

@import "bootstrap_overrides.less";

.navbar-default {

    .navbar-brand {
        color: @dark-text;

        font-size: 25px;
    }

    .dwcm-secondary-navigation {
        background: @middle-grey;

        li > a {
            color: @light-text;
            font-size: 16px;
        }

        .open > a, li > a:hover, .open > a:hover {
            color: @light-text;
            background: darken(@middle-grey, @darken-percentage);
        }

        .active > a {
            color: @light-text;
            background: @dark-grey;

            &:hover {
                color: @light-text;
                background: darken(@dark-grey, @darken-percentage);
            }
        }

        .dropdown-menu {
            background: @middle-grey;
        }
    }
}