body {
    margin-bottom: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1001;

    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: @white;
    border-top: 1px solid @gray-light;

    .container {
        margin-top: 7px;
    }
}
