.dwcm-autocomplete-textfield {
    .label-group {
        margin-bottom: 5px;
    }
}

.dropdown-group {
    position: relative;
}

.autocomplete-input__dropdown {
    position: absolute;
    z-index: 1002;
    width: 100%;
    left: 0px;
    top: 36px;
    border: 1px solid @input-border;
    border-radius: 0 0 @border-radius-base @border-radius-base;
    background: @white;
    margin-bottom: calc(@footer-height + 10px);
    .box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
    
    .autocomplete-input__dropdown-list {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        font-size: 13px;
        
        overflow-y: scroll;
        max-height: 400px;

        li {
            padding: 8px 5px;
            border-bottom: 1px solid @gray-lighter;

            &.active {
                background: @gray-lighter;
            }

            &:hover {
                background: @gray-lighter;
                cursor: pointer;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.rich .autocomplete-input__dropdown {

    li {
        position: relative;
        overflow: hidden;
    }

    p {
        padding: 0px;
        margin: 0px;
        height: 18px;

        white-space: nowrap;
        text-overflow: ellipsis;

        &.regular-row {
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            float: left;

            &.light {
                color: @gray-dark;
            }

            &.shrink {
                width: 60%;
            }
        }

        &.right {
            float: right;
            width: auto;
            text-align: right;
            .glyphicon {
                padding: 3px 0 3px 0;
                margin-right: 5px;
                font-size: 12px;
            }
        }

        &.timestamp {
            color: @gray-dark;
            position: absolute;
            right: 5px;
            top: 8px;
            text-align: right;
        }
    }

    .row-icon {
        font-size: 30px;
        padding: 3px;
        margin-right: 5px;
        position: absolute;

        top: calc(50% - 27px);
        left: 5px;

        &.inactive {
            color: @gray-light;
        }

        ~ p:not(.right) {
            margin-left: 40px;
        }

        &.small{
            ~ p:not(.right) {
                margin-left: 25px;
            }

            font-size: 20px;
            padding: 0;
        }
    }
}