.dwcm-autocomplete-textfield {
    .label-group {
        margin-bottom: 5px;
    }
}

.dropdown-group {
    position: relative;
}

.dwcm-autocomplete-dropdown, .autocomplete-input__dropdown {
    position: absolute;
    z-index: 1001;
    background: @white;
    width: 100%;
    left: 0px;
    top: 36px;
    list-style-type: none;
    padding: 0;
    border: 1px solid @input-border;
    border-radius: 0 0 @border-radius-base @border-radius-base;
    font-size: 13px;

    margin-bottom: calc(@footer-height + 10px);

    .box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));

    li {
        padding: 8px 5px;
        border-bottom: 1px solid @gray-lighter;

        &.active {
            background: @gray-lighter;
        }

        &:hover {
            background: @gray-lighter;
            cursor: pointer;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}