.dwcm-single-preparation {
    position: relative;

    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0 10px 0;

    border-bottom: 1px solid @middle-grey;
    background: @light-grey;

    &:first-child {
        margin-top: 5px;
    }

    .remove {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
    }
}