.locality-selector {
    .list-header {
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .list-group-item {
        padding: 5px 5px;
    }

    .autocomplete-input {
        margin-bottom: 10px;
    }

    .list-group {
        max-height: 324px;
        overflow-y: scroll;
        border-bottom: 1px solid @gray-light;
        border-top: 1px solid @gray-light;
    }
    .preview {
        .leaflet-container {
            height: 200px;
        }

        ol, ul {
            span {
                font-weight: bold;
            }
        }
        ul {
            padding-left: 0;

            li {
                list-style-type: none;
            }
        }
    }

    .create {
        .leaflet-container {
            height: 250px;
        }

        margin-bottom: 5px;
        padding-bottom: 5px;

        .header {
            border-bottom: #ddd 1px solid;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-bottom: 5px;

            h4 {
                font-size: 18px;
                margin: 0;
            }
        }
    }
}