<div class="row">
    <div class="col-xs-12 col-md-12">
        {{locality-selector
            update=(action 'selectedLocality')
            item=model.collectingEvent.locality
        }}
    </div>
</div>