<div class="row">
    <div class="col-xs-12 col-md-12">
        {{locality-selector
            update=(action 'selectedLocality')
            item=model.collectingEvent.locality
        }}
    </div>
    <div class="col-xs-12 col-md-12">
        {{dwcm-textfield
            label='fields.labels.collecting-event.verbatim-locality'
            placeholder='fields.labels.collecting-event.verbatim-locality'
            value=model.collectingEvent.verbatimLocality

            class='verbatim'
        }}
    </div>
</div>