{{#dwcm-field-group title=title identifier="dwcm-basic-data"}}
    <div class="row">
        <div class="col-xs-6">
            {{
                dwcm-autocomplete-textfield
                label="fields.labels.collection"
                storeName='collection'
                displayField='collectionName'
                filterField='collectionName'
                itemSelected=(action 'collectionSelected')
                localData=true

                displayErrors=displayErrors
                checkInvalid=(v-get model 'collection' 'isInvalid')
                invalidMessage=(v-get model 'collection' 'message')
            }}
        </div>
        <div class="col-xs-2">
            {{dwcm-textfield
                label='fields.labels.catalogNumber'
                value=model.catalogNumber
            }}
        </div>
        <div class="col-xs-4">
            {{
                dwcm-autocomplete-textfield
                label="fields.labels.accession"
                storeName='accession'
                displayField='accessionNumber'
                filterField='accessionNumber'
                itemSelected=(action 'accessionSelected')
            }}
        </div>
   </div>
{{/dwcm-field-group}}
