{{#dwcm-field-group
    title=title identifier=title counter=model.determinations.length
}}
    {{#each model.determinations as |determination index|}}
        {{form-component/single-determination
            model=determination
            remove=(action "removeDetermination")

            index=index
        }}
    {{/each}}

    <a class="btn btn-primary btn-xs" {{action "addDetermination"}}>
        <i class="glyphicon glyphicon-plus"></i> {{t 'fields.labels.determination.add'}}
    </a>
{{/dwcm-field-group}}
