{{#each model.preparations as |preparation|}}
    <div class="row">
        <div class="col-xs-4">
            {{dwcm-autocomplete-textfield
                label='fields.labels.preparation.preparation-type'

                storeName='prep-type'

                displayField='name'
                filterField='name'

                itemSelected=(action (mut model.preparationType))
                filterKeys='collectionID'
            }}
        </div>
        <div class="col-xs-8">
            {{dwcm-autocomplete-textfield
                label='fields.labels.preparation.storage'

                storeName='storage'

                displayField='fullName'
                filterField='fullName'

                itemSelected=(action (mut model.storage))
            }}
        </div>
    </div>
{{/each}}