<div class="row">
    <div class="col-xs-6">
        {{dwcm-textfield
            label='component.preparation.object-type'
            value=model.objectAttribute.type
        }}
    </div>
</div>
{{partial 'partial/preparation/list'}}