<div class="row">
    <div class="col-xs-6">
        {{#validation/form-group}}
            <label>{{t 'component.preparation.object-type'}}:</label>
            {{input
                value=model.objectAttribute.type
                class='form-control'
            }}
        {{/validation/form-group}}
    </div>
</div>
{{partial 'partial/preparation/list'}}