{{#each model.preparations as |preparation|}}
    {{form-component/single-preparation
        model=preparation remove=(action 'removePreparation')
    }}
{{/each}}
<a class="btn btn-primary btn-xs" {{action "addPreparation"}}>
    <i class="glyphicon glyphicon-plus"></i> {{t 'fields.labels.preparation.add'}}
</a>