<div class="row">
    <div class="col-xs-6">
        {{dwcm-textfield
            label='component.preparation.preservation-stage'
            value=model.objectAttribute.preservationStage
        }}
    </div>
    <div class="col-xs-6">
        {{
            dwcm-textfield
            label='component.preparation.object-description'
            value=model.objectAttribute.description
        }}
    </div>
</div>
{{partial 'partial/preparation/list'}}