<div class="container">
    List all collection objects
    <ul>
        {{#each model as |collectionObject|}}
            <li>
                {{#link-to 'collectionobject.view' collectionObject}}
                    {{collectionObject.id}} - 
                    {{collectionObject.collection.name}} - 
                    {{collectionObject.agent.fullName}}
                {{/link-to}}
            </li>
        {{/each}}
    </ul>
    {{outlet}}
</div>
