<div class="container">
    <form class="form-signin" {{action 'authenticate' on='submit'}}>
        <button class="btn btn-md btn-primary btn-block" type="submit">
            {{t 'definitions.sign-in'}}
        </button>
    </form>
</div>