<div class="container">
    <form class="form-signin" {{action 'authenticate' on='submit'}}>
        {{
            dwcm-autocomplete-textfield
            label="definitions.user"
            storeName='agent'
            displayField='fullName'
            filterField='lastName'

            itemSelected=(action 'agentSelected')

            removeCreate=true
        }}

        <button class="btn btn-md btn-primary btn-block" type="submit">
            {{t 'definitions.sign-in'}}
        </button>
    </form>
</div>